body {
  background: #BDBDBD;
  margin: 0;
}
div {
  box-sizing: border-box;
}
header {
  background-color: white;
  padding: 10px;
}
header h1 {
  margin: 0;
}
.post {
  background: white;
  margin-top: 10px;
}
.container {
  width: 600px;
  margin: auto
}
.container img {
  width: 600px
}
.post h2, p {
  padding: 10px;
  margin: 0px;

}
.post-header div:first-child {
  display: inline-block;
  width: 80%;
}
.post-header div:last-child {
  display: inline-block;
  width: 20%;
  text-align: right;
  padding: 10px;
  color: gray;
}
